<?xml version="1.0" encoding="utf-8"?>
<!-- Stand: Fri Mar 16 13:36:58 CET 2012 -->
<applicationconfig version="0.2">
<application name="LiHAS-Firewall">
  <config path="/etc/firewall.lihas.d" db_dbd="/var/lib/firewall-lihas" />
  <database>
    <dbd connectorstring="dbi:SQLite:dbname=/var/lib/firewall-lihas/db.sqlite"/>
    <create>
      <table name="hostnames" >CREATE TABLE IF NOT EXISTS hostnames ( hostname TEXT NOT NULL );</table>
      <table name="dnshistory">CREATE TABLE IF NOT EXISTS dnshistory ( hostname TEXT NOT NULL, ip TEXT NOT NULL, time_first INTEGER NOT NULL, time_valid_till INTEGER NOT NULL, active INTEGER NOT NULL );</table>
      <table name="hostnames_current">CREATE TABLE IF NOT EXISTS hostnames_current ( hostname TEXT NOT NULL, time_first INTEGER NOT NULL, time_valid_till INTEGER NOT NULL, ip TEXT NOT NULL );</table>
      <table name="vars_num"  >CREATE TABLE IF NOT EXISTS vars_num ( name TEXT NOT NULL, value INTEGER );</table>
      <index name="activedns" >CREATE INDEX IF NOT EXISTS activedns ON dnshistory (active, hostname);</index>
      <table name="portal_clients">CREATE TABLE IF NOT EXISTS portal_clients ( id INTEGER PRIMARY KEY, portalname TEXT NOT NULL, ip TEXT NOT NULL, mac INTEGER NOT NULL, start_date TEXT NOT NULL, end_date TEXT NOT NULL, active INTEGER, userid INTEGER);</table>
      <table name="portal_clienthistory">CREATE TABLE IF NOT EXISTS portal_clienthistory ( portalname TEXT NOT NULL, ip TEXT NOT NULL, mac INTEGER NOT NULL, start_date TEXT NOT NULL, end_date TEXT NOT NULL);</table>
      <table name="portal_users">CREATE TABLE IF NOT EXISTS portal_users ( id INTEGER PRIMARY KEY, name TEXT NOT NULL, pass TEXT NOT NULL, start_date TEXT NOT NULL, end_date TEXT NOT NULL, max_duration TEXT, max_clients TEXT, start_use TEXT);</table>
      <table name="portal_usershistory">CREATE TABLE IF NOT EXISTS portal_usershistory ( name TEXT NOT NULL, pass TEXT NOT NULL, start_date TEXT NOT NULL, end_date TEXT NOT NULL);</table>
    </create>
  </database>
  <ipsets>
    <ipset name="testset" persistent="yes" backupfile="/var/lib/firewall-lihas/ipset-testset">
      <create>bitmap:ip range 10.0.10.0-10.0.13.255</create>
      <dump>ipset save testset -f /var/lib/firewall-lihas/ipset-testset</dump>
      <restore>ipset restore testset -f /var/lib/firewall-lihas/ipset-testset</restore>
    </ipset>
  </ipsets>
  <feature>
    <connectivity enabled="0">
      <test target="line1.example.org" rt_table="line1" />
    </connectivity>
    <portal enabled="0">
      <name>testportal</name>
      <session><expire>43200<!-- 12 hours = 60*60*12s --></expire></session>
      <password><sms>
        <expire>259200<!-- 3 days = 60*60*24*3s --></expire>
        <clients_max>3<!-- 3 concurrent clients --></clients_max>
        <mobilant>
          <key>KEY<!-- SMS via http://www.mobilant.de/ --></key>
          <from>WLAN-AP<!-- SMS via http://www.mobilant.de/ --></from>
          <message>Bitte loggen Sie sich mit dem Nutzer __USER__ und dem Passwort __PASS__ ein.</message>
        </mobilant>
      </sms></password>
      <page login="/usr/lib/firewall/lihas/templates/template.html" ok="/usr/lib/firewall/lihas/templates/template.html" error="/usr/lib/firewall/lihas/templates/template.html"/>
    </portal><!-- make sure you have ipset support -->
    <ipsec>
      <secretsfile>/var/lib/firewall-lihas/ipsec.secrets</secretsfile>
    </ipsec>
  </feature>
  <policies count="0">
    <!--
    <policy
      name="dsl"               cmt0="name der policy"
      interface="eth1"             cmt1="interface der bevorzugten defaultroute fuer diese policy"
    >
      <interface gwmethod="fixed" name="eth1" gwaddr="192.168.253.6" priority="0" />
      --><!-- gwmethod: Defaultroute: fixed = feste ip, ppp = ppp-peer, dhcp = gw dynamisch aus dhcp, braucht isc-dhcp-client und /etc/dhcp/dhclient-enter-hooks.d/firewall-lihas --><!--
      <interface gwmethod="fixed" name="eth1" gwaddr="192.168.253.7" priority="1" />
    </policy>
    -->
  </policies>
  <dns active="1" refresh_dns_minimum="30" refresh_dns_config="300">
    <host name="lihas.de"/>
  </dns>
  <tests count="0" active="0">
    <!--
    <test
      name=""                   cmt0="name des tests"
      host=""                   cmt1="hostname oder ip des zu pruefenden systems"
      protocol=""               cmt2="icmp | tcp | udp"
      port=""                   cmt3="fuer tcp und udp"
      srcip=""                  cmt4="quell-ip fuer den test (optional)"
      srcpport=""               cmt5="quell-port fuer den test (optional)"
      frequency=""              cmt6="1/frequenz der tests in sekunden"
      latency_max=""            cmt7="maximale latenz in sekunden"
      latency_avg=""            cmt8="durchschnittliche latenz in sekunden"
      latency_interval=""       cmt9="anzahl messwerte, ueber die der durchschnitt gebildet wird"
      active=""                 cmt10="1: tests werden gemacht, 0: keine tests"
    />
    <test
      name="ping_192_168_253_6" cmt0="name des tests"
      host="192.168.253.6"      cmt1="hostname oder ip des zu pruefenden systems"
      protocol="icmp"           cmt2="icmp | tcp | udp"
      port=""                   cmt3="fuer tcp und udp"
      srcip=""                  cmt4="quell-ip fuer den test (optional)"
      srcpport=""               cmt5="quell-port fuer den test (optional)"
      frequency=""              cmt6="1/frequenz der tests in sekunden"
      latency_max="100"         cmt7="maximale latenz in sekunden"
      latency_avg="50"          cmt8="durchschnittliche latenz in sekunden"
      latency_interval=""       cmt9="anzahl messwerte, ueber die der durchschnitt gebildet wird"
    />
    <test
      name="ping_192_168_253_7" cmt0="name des tests"
      host="192.168.253.7"      cmt1="hostname oder ip des zu pruefenden systems"
      protocol="icmp"           cmt2="icmp | tcp | udp"
      port=""                   cmt3="fuer tcp und udp"
      srcip=""                  cmt4="quell-ip fuer den test (optional)"
      srcpport=""               cmt5="quell-port fuer den test (optional)"
      frequency=""              cmt6="1/frequenz der tests in sekunden"
      latency_max="100"         cmt7="maximale latenz in sekunden"
      latency_avg="10"          cmt8="durchschnittliche latenz in sekunden"
      latency_interval="10"     cmt9="anzahl messwerte, ueber die der durchschnitt gebildet wird"
    />
    -->
    <!-- ggf. weitere tests -->
  </tests>
</application>
</applicationconfig>

